## Java / Kotlin
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
*.jks
hs_err_pid*
replay_pid*
src/main/resources/static/
ui/dist/
/build/
/out/
/.gradle/
/.idea/
/*.iml
/.mvn/
!gradle/wrapper/gradle-wrapper.jar
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
application-secrets.properties

# Spring Boot specific
/logs/
/tmp/

## Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

## Gradle
bin/
build/
gradle/
.gradle
gradlew
gradlew.bat
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

## IntelliJ
.idea/
.idea_modules/
amplicode.xml

## Eclipse
.settings/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

## NetBeans
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

## Visual Studio Code
.vscode/
.code-workspace

## OS X
.DS_Store

## Windows
Thumbs.db

## Miscellaneous
*.log

## Other
*.txt
uploads/
.env
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

### STS ###
.apt_generated
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/

# Node.js/Vite (Frontend)
.vite/
node_modules
dist
.cache/
package-lock.json
public/env.js

# Docker
docker/data/
docker/logs/
docker-compose.override.yml
